.section {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 300px;
  background-color: #EBDCB2;
  border: 1px solid #C9A66B;
  border-radius: 10px 15px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.section:last-child {
  background-color: #C9A66B;
}
